.weather-hour {
  margin-top: 5px;
}
.weather-time strong{
    border-bottom: 1px dotted #d6d3d3;
}
.condition-area {
    height: 30px;
}
.weather-disc {
    display: flex;
    align-items: center;
    
    text-shadow: 0 1px 1px rgba(0,0,0,.4);

}

.weather-disc img{
    width:28px ;
    vertical-align: middle;
}
.weather-disc strong{
    font-size: 17px;
    margin-inline-end: 7px;
    margin-block-start: 2px;
}

.page{
    /* text-align: center; */
    width: 100%;
    display: none;
}
.page.on {
    display: block;
}

.pagination {
    display: flex;
    list-style: none;   
    padding: 0;
    margin-top: 20px;
}

.pagination li {  
    text-align: center;
}
.pagination a{
    display: inline-block;
   font-size: 14px;
   text-decoration: none;
   padding: 5px 12px;
   color: #96a0ad;
   line-height: 1.5;
}
.first {
    margin-right: 10px;
}
.last {
    margin-left: 10px;
}
.first:hover, .last:hover, .left:hover, .right:hover {
    color: #2e9cdf;
}
.pagination a:active {
    cursor: default;
    color: #fff;
}
.modal .num {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
}
.modal .num:hover {
    background-color: #2e9cdf;
    color: #fff;
}
.modal .num.active, .modal .num:active {
    color: #fff;
    background-color: #2e9cdf;
    cursor: pointer;
}